/*----- Style for css-demo -----*/

/*---- Box Sizing ----*/

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

/*---- Responsive Images ----*/

img{
  max-width:300px;
  height:auto;
}

/*---- Utility Classes ----*/

.container{
  max-width: 80vw;
  margin:35px auto;

}

.img-right{
  float:right;
  margin:10px 0 10 20;
  border:5px solid #000000;
  padding:5px;
}

.img-left{
  float:left;
  margin:10px 20px 10px 0;
  border:5px solid #000000;
  padding:5px;
}

.img-center{
  display:block;
  margin:20px auto;
  border:5px solid #000000;
  padding:5px;
  
}
/*------------Global Stylers-------------*/

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin:0;
    background-image:url("../img/gordo.jpeg");
    
   
}

header.primary{
  background-color: rgb(78, 67, 88);
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='0 0 60 60'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23d8d8d8' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M29 58.58l7.38-7.39A30.95 30.95 0 0 1 29 37.84a30.95 30.95 0 0 1-7.38 13.36l7.37 7.38zm1.4 1.41l.01.01h-2.84l-7.37-7.38A30.95 30.95 0 0 1 6.84 60H0v-1.02a28.9 28.9 0 0 0 18.79-7.78L0 32.41v-4.84L18.78 8.79A28.9 28.9 0 0 0 0 1.02V0h6.84a30.95 30.95 0 0 1 13.35 7.38L27.57 0h2.84l7.39 7.38A30.95 30.95 0 0 1 51.16 0H60v27.58-.01V60h-8.84a30.95 30.95 0 0 1-13.37-7.4L30.4 60zM29 1.41l-7.4 7.38A30.95 30.95 0 0 1 29 22.16 30.95 30.95 0 0 1 36.38 8.8L29 1.4zM58 1A28.9 28.9 0 0 0 39.2 8.8L58 27.58V1.02zm-20.2 9.2A28.9 28.9 0 0 0 30.02 29h26.56L37.8 10.21zM30.02 31a28.9 28.9 0 0 0 7.77 18.79l18.79-18.79H30.02zm9.18 20.2A28.9 28.9 0 0 0 58 59V32.4L39.2 51.19zm-19-1.4a28.9 28.9 0 0 0 7.78-18.8H1.41l18.8 18.8zm7.78-20.8A28.9 28.9 0 0 0 20.2 10.2L1.41 29h26.57z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  
  text-align: center;
  padding:40px;
  /* long form*/
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    /* T,R,B,L*/
    padding: 20px 40px 20px 40px;
    /* Two value top/bottom / L/R */
    padding: 20px 40px;
}

header.primary h1{
  background-color: brown;
  font-size: 2.4rem;
  margin: 20px 0 10px;
}

header.primary h1 a{
  color:aquamarine;
  text-decoration:none;
}

header.primary h2{
  font-size: 1.4rem;
  margin: 0;
}

header.primary nav{
  background-color: antiquewhite;
  max-width: 500px;
  margin: 20px auto;
}

header.primary nav ul{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  padding:0;
}

header.primary nav ul li{
  list-style-type: none;
}

header.primary nav ul li a {
  color: black;
  text-decoration: none;
  background-color: blanchedalmond;
  background-color: rgba(0,0,0,.4);
  padding:5px 10px;
  border:1px solid #c0c0c0;
}

header.primary nav ul li a:hover{
  background-color:rgba(0,0,0,.8) ;
}

#intro{
  border-bottom:1px dotted #000000;
  padding-bottom:14px;
}

#intro h2{
  color:bisque;
  border-bottom:5px;
  
}

#content{
  display:flex;
  flex-direction:row;
  gap:3px;
}

#content.post{
  box-shadow:0 4px 8px rgba(5,2,3,0);
  padding:10px;
  border-radius:5px;
  font-size:.8rem;
  transition:0.5s;
}

#content artical.post:hover{
  box-shadow:0px 8px 16px rgba(5,2,3,0)
}

article.post figure{
  margin:0;

}

time.post-date, article.post figcaption, article.post .post-meta{
  text-transform:uppercase;
  color:#c0c0c0
}

article.post a:hover{
  color:#c0c0c0;
  text-decoration:none
}

article.post img{
  border:1px dotted #000000;
  padding:3px;
  margin:10px auto;
  background-color:blanchedalmond;
}

aside[role]{
  background-color: #000000;
  color: #c0c0c0;
  padding:1.9rem;
}

aside .container{
  display:flex;
  flex-direction: row;
  gap:40px;
}

aside .container a:last-of-type{
  color: red;
  font-size:.9rem;
  margin-top:10px;
  display:block;
  text-align: right;
}

aside footer{
  display:none;
  background-color: #000000;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='0 0 60 60'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23d8d8d8' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M29 58.58l7.38-7.39A30.95 30.95 0 0 1 29 37.84a30.95 30.95 0 0 1-7.38 13.36l7.37 7.38zm1.4 1.41l.01.01h-2.84l-7.37-7.38A30.95 30.95 0 0 1 6.84 60H0v-1.02a28.9 28.9 0 0 0 18.79-7.78L0 32.41v-4.84L18.78 8.79A28.9 28.9 0 0 0 0 1.02V0h6.84a30.95 30.95 0 0 1 13.35 7.38L27.57 0h2.84l7.39 7.38A30.95 30.95 0 0 1 51.16 0H60v27.58-.01V60h-8.84a30.95 30.95 0 0 1-13.37-7.4L30.4 60zM29 1.41l-7.4 7.38A30.95 30.95 0 0 1 29 22.16 30.95 30.95 0 0 1 36.38 8.8L29 1.4zM58 1A28.9 28.9 0 0 0 39.2 8.8L58 27.58V1.02zm-20.2 9.2A28.9 28.9 0 0 0 30.02 29h26.56L37.8 10.21zM30.02 31a28.9 28.9 0 0 0 7.77 18.79l18.79-18.79H30.02zm9.18 20.2A28.9 28.9 0 0 0 58 59V32.4L39.2 51.19zm-19-1.4a28.9 28.9 0 0 0 7.78-18.8H1.41l18.8 18.8zm7.78-20.8A28.9 28.9 0 0 0 20.2 10.2L1.41 29h26.57z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#colophon{
  background-color: gray;
  padding:10px;
  color:aqua;
  text-align: center;
}
/*------------ Media Queries -------------*/

@media screen and (max-width:600px){

    header.primary nav ul{
      flex-direction:column;
      max-width:250;
      margin:auto;
    }

    header.primary nav ul a{
      display:block;
      
    }
    #content, aside.container{
      flex-direction: column;

    }
    #content img{
      display:block;
      margin:auto;
    }

    #practice h2{
      color:aqua;
      border-bottom: 1px solid #000000 ;
    }

    table {
      border: 5px solid #000000;
      width: 100px;
      border-collapse:collapse;
      margin:20px 0;
    }

    caption{
      font-weight:bold;
      margin: 10px;
    }
    tr:nth-child(even) {
      background-color: bisque;
      
    }

    tr:nth-child(2), td:nth-child(3){
      text-align: right;
    }

    tr:hover {
      background-color: red;
    }

    th{
      background-color: beige;
      color:black;
      padding: 10px;
    }

    td {
      border: 1px solid #000000
    }

    #practice ol{
      clear:both;
      list-style-type:armenian;
    }
    
    #practice ul{
      list-style-type:armenian;
    }

    #practice ul ul{
      list-style-type: square;
    }

    td{
      border:1px solid #000000;
      padding: 5px;
    }

    dl{
      width:50%;
      margin:auto;
    }
    dt{
      font-weight:bold;
    }

    dd+dt{
      color:red;
      margin-top: 20px;
    }
    dd{
      margin:0;
    }

    #practice h4{
      border-left:5px solid blue;
      padding: 5px 10px;
    }

    #practice blockquote{
      border:4px double black;
      padding: 20px 40px;
      margin: 40px 80px;
      border-radius: 30px 0;

    }

    #practice blockquote cite{
        font-size: 2rem;
        text-align: right;
        display:block;
    }





    

}
