/*----- Style for css-demo -----*/

/*---- Box Sizing ----*/

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

/*------------Global Stylers-------------*/

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin:0;
}

header.primary{
  background-color: blueviolet;
  text-align: center;
  padding:40px;
  /* long form*/
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    /* T,R,B,L*/
    padding: 20px 40px 20px 40px;
    /* Two value top/bottom / L/R */
    padding: 20px 40px;
}

header.primary h1{
  background-color: brown;
  font-size: 2.4rem;
  margin: 20px 0 10px;
}

header.primary h1 a{
  color:aquamarine;
  text-decoration:none;
}

header.primary h2{
  font-size: 1.4rem;
  margin: 0;
}

header.primary nav{
  background-color: antiquewhite;
  max-width: 500px;
  margin: 20px auto;
}

header.primary nav ul{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  padding:0;
}

header.primary nav ul li{
  list-style-type: none;
}

header.primary nav ul li a {
  color: black;
  text-decoration: none;
  background-color: blanchedalmond;
  background-color: rgba(0,0,0,.4);
  padding:5px 10px;
  border:1px solid #c0c0c0
  border-radius: 20px;
  opacity:.4;
  transition:.5s;
}

header.primary nav ul li a:hover{
  background-color:rgba(0,0,0,.8) ;
}