html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

img{
  max-width:300px;
  height:auto;
}

main{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgb(161, 158, 158);
  margin:0;
}

header.primary{
 background-image:url(../img/spacex-logo.png);
  text-align: center;
  background-color: grey;
  padding-top: 20px;
  height:250px
}

header.primary nav{
background-color: none;
font-size: 1.5rem;
text-decoration:none;

}

header.primary nav ul{
display:flex;
flex-direction:row;
justify-content: space-around;
padding:0;
}

header.primary nav ul li{
list-style-type: none;

}
